/**
* Cambio de color para el mensaje mostrado en el servidor.
* @author Cristian Suárez Acosta
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: crimson;
}

a {
  color: #00B7FF;
}
